#title{
    text-align: center;
    text-decoration: underline;
    word-spacing: 15px;
}
#experience{
    line-height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#assignment{
    text-align: center;
    text-decoration: underline;
}
#illustration{
    line-height: 30px;
}




    
form{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;  
    background-color: grey;
    padding: 50px;
    margin: auto;
    width: 300px;
    text-align: center;
}
input{
    padding: 10px;
    text-align: center;
}
#grade{
    margin-top: 50px;
}